<!DOCTYPE html>
<html lang="en">
<head><link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta charset="UTF-8">
  <title><%= title %> | add albums</title>
</head>

<body>
  <h1>Add an album</h1>
  <a href="/albums">Cancel</a>
  <form action="/albums/addalbums" method="POST">
    <input type="text" placeholder="Album Name">
    <label>Year:</label>
    <input type="text" name="year">

    <input type="submit" value="Search">
  </form>
</body>
</html>
