<!DOCTYPE html>
<html lang="en">
<head><link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <meta charset="UTF-8">
  <title><%= title %> | albums</title>
</head>
<body>
  <h1>Albums</h1>
   <a href="/artists/addalbum">Add new album</a>
  <table>
  <tbody><% albums.forEach(function (artist){ %>
     <tr>
      <td><%= albums.name %></td>
      <td><%= albums.artistID %></td>
      <td><%= albums.Year %></td>

    </tr>
      <% }); %>
  </tbody>
  </table>
</body>
</html>
